
.subtitle{
    color:black;
    font-size: 15px;
    margin-bottom: 15px;
}
.years{
    width:100%;
    padding:80px 8%;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    background:#fde9ec;
}
.year-card{
    background:#fff;
    padding:35px;
    text-align:center;
    box-shadow:0 10px 20px rgba(0,0,0,.08);
    transition:.3s;
}
.row{
    height:600px;
}
.hero{

    max-width:1200px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:70px;

    padding:80px 20px;
}
.hero-text h1{

    font-size:60px;

    line-height:1.2;

    margin:20px 0;
}
.hero-text p{

    font-size:18px;

    color:#666;

    margin-bottom:30px;
}
.hero-image img{

    width:420px;

    max-width:100%;

    height:auto;
}
.hero-image{

    flex:1;

    position:relative;

    display:flex;

    justify-content:flex-end;
}
.hero-image::before{
    content:"";
    position:absolute;

    width:250px;
    height:250px;

    background:#ff6600;

    right:40px;
    top:40px;

    transform:rotate(-30deg);

    z-index:-1;
}
.hero button{

    background:#ff6600;

    color:white;

    border:none;

    padding:15px 35px;

    border-radius:30px;

    cursor:pointer;
}

.hero button:hover{
    background:#e65c00;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
.hero-text{

    flex:1;
}